[Unit]
Description=Heni Inventory Flask Application
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=dutadmin
Group=dutadmin
WorkingDirectory=/opt/heni-inventory

EnvironmentFile=/opt/heni-inventory/.env

ExecStart=/opt/heni-inventory/venv/bin/gunicorn \
    --workers 2 \
    --bind 127.0.0.1:5070 \
    --access-logfile - \
    --error-logfile - \
    run:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
